.education {
    min-height: 100vh;
}

.education-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.education-description {
    width: 100%;
    flex: 0.65;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 7rem;
}

.education-description > h1{
    font-size: 3.5rem;
    font-family: Poppins;
    margin-bottom: 2rem;
}
.education-card {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 150px;
    padding: 1.5rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.educard-img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.educard-img > img {
    width: 40px;
}

.education-details{
    padding-left: 0.6rem;
}

.education-details > h6 {
    font-family: Poppins;
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.education-details > h4 {
    font-family: Poppins;
    font-size: 1.225rem;
    font-weight: 600;
}

.education-details > h5 {
    font-family: Poppins;
    font-size: 1.15rem;
    font-weight: 600;
}

.education-image {
    box-sizing: border-box;
    padding: 1rem;
    flex: 0.35;
    margin-top: 4rem;
}

.education-image > img {
    width: 100%;
}

@media (min-width: 992px) and (max-width: 1380px) {

    

}