.landing {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.landing--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.landing--img {
    position: absolute;
    left: calc(35% - 215px);
    width: 430px;
    height: 430px;
    border-radius: 100%;
    filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.2));
}

.landing--container-left {
    flex: 35%;
    height: 100%;
    background-color: #459446;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.lcl--content {
    margin: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.landing--social {
    width: 34px;
    margin: 0 1rem;
}

.landing--container-right {
    flex: 65%;
    height: 100%;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.lcr--content {
    width: 45%;
    margin-right: 7rem;
    font-family: Poppins;
    font-style: normal;
}

.lcr--content h6 {
    font-weight: 500;
    font-size: 1.25rem;
    color: rgba(52, 52, 52, 0.8);
    margin-bottom: -0.85rem;
}

.lcr--content h1 {
    font-weight: 600;
    font-size: 3.25rem;  
    color: #343434;
    
}

.lcr--content p {
    margin-top: 1.45rem;
    font-weight: 500;
    font-size: 1.15rem;
    color: rgba(52, 52, 52, 0.7);
    
}

.lcr-buttonContainer {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
}