.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing--container {
  display: flex;
  align-items:center;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  width:100%;
  background-image: url('../../assets/png/opt2.jpg');
  background-position: center;
  background-size: cover;
}
.container{
  display: flex;
  flex-direction: column-reverse;
  justify-content:flex-end;
  width:40%;
  margin-top: 7rem;
}

.landing--img {
  --img-size: 400px;
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  width: var(--img-size);
  height: var(--img-size);
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}

.landing--container-left {
  flex: 35%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.links {

  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.landing--social {
  font-size: 40px;
  margin: 0 1rem;
  transition: transform 0.5s;
  border-radius: 50%;
  padding:0.4rem;
  position:relative;
  top:8rem;
  border: 2px solid white;

}

.landing--social:hover {
  transform: scale(1.2);
}

.landing--container-right {
  flex: 65%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.lcr--content {
  width: 100%;
  margin-right: 0;
  font-family: var(--primaryFont);
  font-style: normal;
}

.lcr--content h6 {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0rem;
  opacity: 0.4;
}

.lcr--content h1 {
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 110%;
  margin: 1rem 0;
  margin-bottom: 0;
}

.lcr--content p {
  margin-top: 1.45rem;
  font-weight: 500;
  font-size: 1.15rem;
  opacity: 0.7;
}

.lcr-buttonContainer {
  margin-top: 4rem;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "var(--primaryFont)", sans-serif;
}

@media (max-width: 1100px) {
  .landing--img {
    --img-size: 350px;
  }
  .lcl--content {
    margin: 2rem;
  }

  .lcr--content h6 {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  .lcr--content h1 {
    font-size: 3rem;
  }

  .lcr--content p {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
  }
.container{
  margin-top:10rem;
}
  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
    margin-top: 3rem;
  }
  .landing--social{
    top:6rem;
  }
}

@media (max-width: 900px) {

  .landing--social {
    font-size: 35px;
    top:4.5rem;
  }
  .lcr--content {
    width: 100%;
    margin-top: 10%;
    margin-right: 6%;
  }
  .lcr--content h1{
    font-size: 2.5rem;
  }
  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
  .lcr-buttonContainer button:nth-child(2) {
    display: none;
  }

}
@media (max-width:730px){
  .lcr--content{
    width:60%;
    margin-left:1rem;
  }
  .lcr-buttonContainer{
    margin-top: 2rem;
  }
  .landing--social{
    top:3rem;
  }
}

@media (max-width: 600px) {
  .landing--container {
    flex-direction: column;
    justify-content: space-between;
  }
 
  .landing--container-left {
    flex: initial;
    width: 100%;
    height: 30%;
  }
  .landing--social {
    top:8rem;
    right:4rem;
  }
  .landing--container-right {
    box-sizing: border-box;
    padding: 0 2rem;
    flex: initial;
    height: 70%;
    width: 100%;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
  .lcr--content {
    margin-top: 20%;
    margin-right: initial;
    width: 100%;
  }
  .lcr--content h6 {
    font-size: 0.8rem;
    text-align: center;
  }
  .lcr--content h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .lcr--content p {
    font-size: 0.95rem;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
  .lcr-buttonContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width:70%;
  }
  .lcr-buttonContainer button {
    margin-top: -20%;
  }
}

@media (max-width: 500px) {
  .lcr--content {
    margin-top: 35%;
  }
  .landing--social{
    right:2.8rem;
    top:5rem;
  }
}
@media (max-width: 370px) {
  .lcr--content {
    margin-top: 60%;
  }
  .lcr-buttonContainer{
    width: 40%;
  }
  .landing--social{
    top:2rem;
    right: 2rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .landing {
    height: 100%;
  }

  .landing--img {
    --img-size: 150px;
    left: 50%;
    top: 20%;
  }
  .landing--social{
    right: 1rem;
  }
}
