.footer {
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 100%;
    background-color: var(--primary-1-45);
    display: flex;
    justify-content: center;
    align-items: center;
}
