.experience{
    min-height: 100vh;
}

.experience-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.experience-description {
    width: 100%;
    flex: 0.65;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 2rem;
}

.experience-description > h1 {
    font-size: 3.5rem;
    font-family: Poppins;
    margin-bottom: 2rem;
}

.experience-card {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 150px;
    padding: 1.5rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.expcard-img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expcard-img > img {
    width: 40px;
}

.experience-details {
    padding-left: 0.6rem;
}

.experience-details > h6 {
    font-family: Poppins;
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.experience-details > h4 {
    font-family: Poppins;
    font-size: 1.225rem;
    font-weight: 600;
}

.experience-details > h5 {
    font-family: Poppins;
    font-size: 1.15rem;
    font-weight: 600;
}

.experience-image {
    box-sizing: border-box;
    padding: 1rem;
    flex: 0.35;
    margin-top: 10rem;
    margin-left: 7rem;
}

.experience-image > img {
    width: 100%;
}