@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


@font-face {
  font-family: 'BestermindRegular';
  src: url('./assets/fonts/Bestermind/BestermindRegular.ttf'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Bestermind/BestermindRegular.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Bestermind/BestermindRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

/* scrollBar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #555;
  border-radius: 10px;
  transition: 0.3s;
}
