@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');


@font-face {
  font-family: 'BestermindRegular';
  src: url('./assets/fonts/Bestermind/BestermindRegular.ttf'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Bestermind/BestermindRegular.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Bestermind/BestermindRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

* {
  margin: 0;
}

:root{
  --primary-1: #459446;
  --primary-1-45: #45944675;
  --primary-2: #EAEAEA;
  --secondary-1: #343434;
  --secondary-1-80: #343434cc;
  --secondary-1-70: #343434b3;
  --secondary-2: #343434b3;
}

a {
  text-decoration: none;
}

/* scrollBar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: var(--primary-2);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-1);
  border-radius: 10px;
  transition: 0.3s;
}
